*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.outer-col-1{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    flex-grow:0;
    flex-shrink:0;
}

.outer-col-2{
    display: flex;
    flex-direction: column;
    flex-basis:80%;
    flex-grow:1;
    flex-shrink:1;
}

header{
    flex-basis:100px;
    flex-grow:0;
    flex-shrink:0;
}

.inner-row{
    display: flex;
    flex-direction: row;
    flex-basis: 900px;
    flex-grow:1;
    flex-shrink:1;
}

.inner-col{
    display: flex;
    flex-direction: column;
    flex-basis: 900px;
    flex-grow:1;
    flex-shrink:1;
}

aside{
    flex: 200px;
    flex-grow:0;
    flex-shrink:0;
}

article{
    flex-basis: 85%;
    flex-grow:1;
    flex-shrink:1;
}

footer{
    flex-basis: 15%;
    flex-grow:0;
    flex-shrink:0;
}

